<nav class="p-3 bg-dark" style = "color:aliceblue;">
  <h6 style = "color:aliceblue;">{{title}}</h6>
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button
      (click)="setCurrentAction(action)"
      routerLink="/{{action.route}}"
      [class]="action==currentAction?'btn-primary':'btn-outline-success'"
      class="btn m-2">
        {{action.title}}
        <i class="bi bi-{{action.icon}} text-success"></i>
      </button>
    </li>
    <li *ngIf="isLoading == true">
      <div class="spinner-border text-primary m-2 ms-2" role="status">
      </div>
    </li>
  </ul>
</nav>
