<div class="p-3">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Checked</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <button
              (click)="handleCheckProduct(product)"
              class="btn btn-outline-success">
                <i [class]="product.checked?'bi bi-check':'bi bi-circle'"></i>
              </button>
            </td>
            <td>
              <button
              (click)="handleDelete(product)"
              class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
